<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/styles/css/layout.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">

                        <img src="/Content/images/avatar.jpg" />
                        <div class="login-information">
                            <span>René Benjaminsen</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Admin", new { area = "Admin" })">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("ProductList", "Admin", new { area = "Admin" })">Produkter</a>
                </li>
                <li>
                    <a href="@Url.Action("CategoryList", "Admin", new { area = "Admin" })">Kategorier</a>
                </li>
                <li>
                    <a href="@Url.Action("SizeList", "Admin", new { area = "Admin" })">Størrelse</a>
                </li>
                <li>
                    <a href="@Url.Action("NewsletterList", "Admin", new { area = "Admin" })">Nyhedsbrev</a>
                </li>
                <li>
                    <a href="@Url.Action("RoleList", "Account", new { area = "Admin" })">Roller</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="top_bar">
                <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-navicon"></i></a>
            </div>
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">

                        <div>
                            @RenderBody()
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Scripts/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" type="text/javascript"></script>

    <script src="/Scripts/bootstrap.min.js"></script>
  
    <!-- Menu Toggle Script -->
    <script type="text/javascript">
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @RenderSection("Scripts", false)



</body>
</html>
