@model Stylepit.ViewModels.ProductVM
@{
    ViewBag.Title = "ProductCreate";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";

}
@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" rel="stylesheet" />
}
<h2>ProductCreate</h2>
<form role="form" action="/Admin/ProductCreate" id="prodCreate" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label" for="title">Produkt navn</label>
        <input type="text" class="form-control" required name="Title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label class="control-label" for="Description">Beskrivelse</label>
        <textarea class="form-control" required name="Description"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="price">Pris</label>
        <input type="text" required class="form-control" name="Price">
    </div>
    <div class="form-group">
        <label class="control-label" for="amount">Antal</label>
        <input type="number" class="form-control" name="Amount" placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <label class="control-label" for="OnSale">På udsalg</label><br />
        <input type="checkbox" name="OnSale">
    </div>
    <div class="form-group">
        <label class="control-label" for="CategoryId">Brand</label>
        <select class="form-control" required name="BrandId">
            <option hidden value="0">
                Vælg Brand
            </option>
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand.Id">@brand.Title</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="CategoryId">Kategori</label>
        <select class="form-control" required name="CategoryId">
            <option hidden value="0">
                Vælg kategori
            </option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="SizeId">Vælg størrelser</label>
        <select class="form-control" name="SizeId" multiple>
            <option hidden value="0">Vælg størrelse</option>
            @foreach (var item in Model.Sizes)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="SizeId">Vælg et thumb billed</label>
        <input type="file" name="file" />
    </div>
    <div class="form-group">
        <label class="control-label" for="files">Vælg et produkt billeder</label>
        <input type="file" name="files" multiple />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

@section Scripts{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>

}