@model Stylepit.ViewModels.ProductVM
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<h2>ProductEdit</h2>

<form role="form" action="/Admin/ProductEdit" method="post">
    <input type="hidden" name="Id" value="@Model.product.Id" />
    <div class="form-group">
        <label class="control-label" for="title">Produkt navn</label>
        <input type="text" value="@Model.product.Title" class="form-control" name="Title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label class="control-label" for="Description">Beskrivelse</label>
        <textarea class="form-control" name="Description">@Model.product.Description</textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="price">Pris</label>
        <input type="text" class="form-control" value="@Model.product.Price" name="Price">
    </div>
    <div class="form-group">
        <label class="control-label" for="amount">Antal</label>
        <input type="number" class="form-control" value="@Model.product.Amount" name="Amount" placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <label class="control-label" for="OnSale">På udsalg</label><br />
        <input type="checkbox" value="@Model.product.OnSale" name="OnSale">
    </div>
    <div class="form-group">
        <label class="control-label" for="CategoryId">Kategori</label>
        <select class="form-control" name="CategoryId">
            <option selected value="@Model.product.Category.Id">
                @Model.product.Category.Title
            </option>
            @foreach (var category in Model.Categories.Where(x => x.Id != Model.product.CategoryId))
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="SizeId">Vælg størrelser</label>
        <select class="form-control" name="SizeId" multiple>
            <option hidden value="0">Vælg størrelse</option>
            @foreach (var item in Model.Sizes)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <img src="/Content/images/@Model.product.ThumbImg" alt="Alternate Text" />
        <input type="file" name="file" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>